desktop.ini
/Clases Videos/*.mp4
/Clases Videos/*.wmv
/HTML Unidad 02/*.wmv
/CSS Unidad 02/*.wmv
/CSS Unidad 02/*.mp4
/JavaScript Unidad 01/*.mp4
/JavaScript Unidad 01/*.wmv
/JavaScript Unidad 02/*.mp4
/JavaScript Unidad 02/*.wmv
pass_ftp_c2107.txt
/Used Programs/*.*
/Java Projects/AgendaContactos/AgendaContactos/nbproject/private/