.output {

    font: 1rem 'Fira Sans', sans-serif;
    
    }
        
    blockquote {
    
    background: #eee;
    
    border-radius: 5px;
    
    margin: 16px 0;
    
    } 
    
    blockquote p {
    
    padding: 15px;
    
    }
      
    cite {
    
    margin: 16px 32px;
    
    }
      
    blockquote p::before {
    
    content: '\201C'; /*REPRESENTA DOBLE COMILLA ANTES DEL TEXTO DEL HTML */
    
    }
     
    blockquote p::after {
    
    content: '\201D'; /*REPRESENTA DOBLE COMILLA DESPUES DEL TEXTO DEL HTML */
    
    }
    
    [contenteditable='true'] {
    
    caret-color: red;
    
    }
    
     